@import '/src/main-styles.scss';

.centered-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.8em;
    margin-top: 25px;
    opacity: 1;
    position: relative;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 3px solid #8b8bff;
    letter-spacing: 7px;

    > div {
      position: relative;
      display: inline-block;

      + div {
        display: block;
      }
    }

    span {
      letter-spacing: normal;
      display: block;
      margin-bottom: 10px;
      font-size: 0.5em;
      font-style: italic;
      position: relative;
      z-index: 2;

      &:before,
      &:after {
        content: "";
        width: 43%;
        height: 3px;
        background: #8b8bff;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0.5em;
      }

      &:after {
        left: 0;
      }
    }
  }
}
