@import '/src/main-styles.scss';

.centered-content {
  width: 100px;
  height: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2em;
    margin-top: 50px;
    opacity: 1;
    position: relative;
    color: #e3e3eb;
    font-weight: 400;
    text-align: center;
    margin-right: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 3px solid #8b8bff;
    letter-spacing: 10px;

    > div {
      position: relative;
      display: inline-block;
      + div {
        display: block;
      }
    }
    span {
      letter-spacing: normal;
      display: block;
      margin-bottom: 10px;
      font-size: 0.5em;
      font-style: italic;
      position: relative;
      z-index: 2;
      &:before,
      &:after {
        content: "";
        width: 43%;
        height: 3px;
        border-radius: 5px;
        background: #8b8bff;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0.5em;
      }
      &:after {
        left: 0;
      }
    }
  }
}
